application/logs
attachments/
uploads/leads/
uploads/ticket_attachments/
uploads/project_task/
uploads/tasks/

# Ignore all .log files
*.log

# Ignore node_modules folder
node_modules/

# Ignore environment files
.env
# Ignore SQL dump files
*.sql

# Ignore zipped SQL backups
*.sql.zip

# Ignore all zip archives
*.zip

# Ignore all files in temp/ folder
temp/

# Ignore compiled files
*.class
*.pyc
*.mno
#*.sql

# Ignore OS or editor-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
